In [ ]:
**Step -1  Business Problem Understanding

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter('ignore')

In [ ]:
**Step-2 Data Understanding
#Load Data & Understand Every Variable

In [2]:
df = pd.read_excel('insurance.xlsx')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [3]:
df.shape

(1338, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
**Exploratory Data Analysis

In [5]:
categorical = []
continous   = []
check       = []

d_types = dict(df.dtypes)
for name,type in d_types.items():
    if str(type) == 'object':
        categorical.append(name)
    elif str(type)=='float64':
         continous.append(name)
    else:
        check.append(name)
        
print('categorical features:', categorical)  
print('continous features:', continous)  
print('features to be checked:',check)

categorical features: ['sex', 'smoker', 'region']
continous features: ['bmi', 'expenses']
features to be checked: ['age', 'children']

In [6]:
d_types = dict(df.dtypes)
for name,type in d_types.items():
    if str(type) == 'object':
        print(f'<={name}=')
        print(df[name].value_counts())

<=sex=
sex
male      676
female    662
Name: count, dtype: int64
<=smoker=
smoker
no     1064
yes     274
Name: count, dtype: int64
<=region=
region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [7]:
df.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [12]:
df.corr()

               age       sex       bmi  children    smoker  expenses
age       1.000000 -0.020856  0.109341  0.042469 -0.025019  0.299008
sex      -0.020856  1.000000  0.046380  0.017163  0.076185  0.057292
bmi       0.109341  0.046380  1.000000  0.012645  0.003968  0.198576
children  0.042469  0.017163  0.012645  1.000000  0.007673  0.067998
smoker   -0.025019  0.076185  0.003968  0.007673  1.000000  0.787251
expenses  0.299008  0.057292  0.198576  0.067998  0.787251  1.000000

In [ ]:
**Step-3 Data Preprocessing

In [8]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [9]:
df.drop(columns=['region'],axis=1,inplace=True)
df

      age     sex   bmi  children smoker  expenses
0      19  female  27.9         0    yes  16884.92
1      18    male  33.8         1     no   1725.55
2      28    male  33.0         3     no   4449.46
3      33    male  22.7         0     no  21984.47
4      32    male  28.9         0     no   3866.86
...   ...     ...   ...       ...    ...       ...
1333   50    male  31.0         3     no  10600.55
1334   18  female  31.9         0     no   2205.98
1335   18  female  36.9         0     no   1629.83
1336   21  female  25.8         0     no   2007.95
1337   61  female  29.1         0    yes  29141.36

[1338 rows x 6 columns]

In [10]:
df['sex'].replace({'female':0,'male':1},inplace=True)

df['smoker'].replace({'no':0,'yes':1},inplace=True)

In [11]:
df

      age  sex   bmi  children  smoker  expenses
0      19    0  27.9         0       1  16884.92
1      18    1  33.8         1       0   1725.55
2      28    1  33.0         3       0   4449.46
3      33    1  22.7         0       0  21984.47
4      32    1  28.9         0       0   3866.86
...   ...  ...   ...       ...     ...       ...
1333   50    1  31.0         3       0  10600.55
1334   18    0  31.9         0       0   2205.98
1335   18    0  36.9         0       0   1629.83
1336   21    0  25.8         0       0   2007.95
1337   61    0  29.1         0       1  29141.36

[1338 rows x 6 columns]

In [13]:
X=df.drop('expenses',axis=1)
y=df['expenses']

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=9)

**Modelling & Evaluation
Lasso Regression with default Parameters

In [17]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import cross_val_score
ens_base =  ElasticNet()
ens_base.fit(X_train,y_train)

ypred_train = ens_base.predict(X_train)
ypred_test = ens_base.predict(X_test)

print('train R2:', ens_base.score(X_train,y_train))
print('test R2:', ens_base.score(X_test,y_test))

print('Cross Validation score:', cross_val_score(ens_base,X,y,cv=5).mean())

train R2: 0.39155822533558715
test R2: 0.39702776413473506
Cross Validation score: 0.3889250431216654

**Applying HyperParameter Tuning For Ridge Regression

In [18]:
from sklearn.model_selection import GridSearchCV

#model

estimator = ElasticNet()


#parameters & Values 

param_grid = {'alpha':[0.1,0.2,1,2,3,5,10],'l1_ratio':[0.1,0.5,0.75,0.9,0.95,1]}

#identify the best values from the parameter within given values for the given data

model_hp = GridSearchCV(estimator,param_grid,cv=5,scoring='neg_mean_squared_error')
model_hp.fit(X_train,y_train)
model_hp.best_params_

{'alpha': 10, 'l1_ratio': 1}

**Rebuilt Lasso Model Using  Best Parameters

In [22]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import cross_val_score

ens_best =ElasticNet(alpha=10,l1_ratio=1)

ens_best.fit(X_train,y_train)

print('Intercept:',ens_best.intercept_)
print('Coefficients:',ens_best.coef_)

#predictions
train_pred = ens_best.predict(X_train)
test_pred =  ens_best.predict(X_test)

#Evaluations

print('train R2:', ens_best.score(X_train,y_train))
print('test R2:',   ens_best.score(X_test,y_test))

print('Cross Validation score:', cross_val_score(ens_best,X,y,cv=5).mean())

Intercept: -11449.28756082979
Coefficients: [ 2.56838444e+02 -6.43158858e-01  3.04860929e+02  4.34656692e+02
  2.35631810e+04]
train R2: 0.7433083585849637
test R2: 0.7755411716841649
Cross Validation score: 0.7467299170217538

In [ ]:
**FINAL MODEL

In [23]:
x= x.drop(x.columns[[1]],axis=1)
y = df['expenses']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=9)

from sklearn.linear_model import ElasticNet
from sklearn.model_selection import cross_val_score

ens_best = ElasticNet(alpha=50)

ens_best.fit(x_train,y_train)

print('Intercept:',ens_best.intercept_)
print('Coefficients:',ens_best.coef_)

#predictions
train_pred = ens_best.predict(x_train)
test_pred = ens_best.predict(x_test)

#evaluations

print('train R2:', ens_best.score(x_train,y_train))
print('test R2:', ens_best.score(x_test,y_test))
print('Cross Validation score:', cross_val_score(ens_best,x,y,cv=5).mean())

NameError: name 'x' is not defined

In [ ]:
**Predict On NewData

In [ ]:
input_data = {'age':31,
              'sex':'female',
                'bmi':25.74,
                 'children':0,'smoker':'no','region':'northeast'}

In [ ]:
df_test = pd.DataFrame(input_data,index=[0])
df_test.drop('region',axis=1,inplace=True)
df_test['sex'].replace({'female':0,'male':1},inplace=True)
df_test['smoker'].replace({'no':0,'yes':1},inplace=True)

transformed_data = df_test

In [ ]:
**Predict

In [ ]:
ens_best.predict(transformed_data)